<div class="row">

    <div class="col-sm-3">
        <div class="card w3-animate-zoom">
            <img class="card-img-top" src="Images/step3.jpg" alt="Card image" class="img-responsive"/>
            <div class="card-body">
                <h4 class="card-title"><b>Image Processing</b></h4>
                <p class="card-text">Uploading the captured image to the algorithm for detection.</p>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#step3">Upload Image</a>
            </div>
        </div>
    </div>

</div>
