<!doctype html>
<head>
    <title>CNN_Flask</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='imageupload.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='customize.css')}}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
		<div class="container w3-animate-opacity">
	    	<h1>CNN_Flask</h1>
	    	<div class="container w3-animate-left">
	    		<p><i>CNN Flask</i></p>
	    	</div>
	    </div>
	</div>

</body>
